@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');


html, body {
    /* height: 100%; */
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
}

#text-area {
    width: 200px;
    display: block;
}

h3 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-area span {
    padding: 8px 15px;
    margin: 7px;
    background-color: #e1e1e2;
    color: #000000;
    border-radius: 20px;
    font-size: 25px;

}

.instruction {
    color: #fff;
}

footer {
    background-color: #000000;
}