@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');


html, body {
    /* height: 100%; */
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
}


h3 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

#text-area span {
    padding: 5px;
    margin: 5px;
    background-color: #e1e1e2;
    color: #000000;
    border-radius: 20px;
}

.instruction {
    color: #fff;
}

footer {
    background-color: #000000;
}